


  <ul class="nav nav-pills col-md-12">
    <li><a href="/main/2014/1">jan</a></li>
    <li><a href="/main/2014/2">feb</a></li>
    <li><a href="/main/2014/3">mar</a></li>
    <li><a href="/main/2014/4">apr</a></li>
    <li><a href="/main/2014/5">may</a></li>
    <li><a href="/main/2014/6">jun</a></li>
    <li><a href="/main/2014/7">jul</a></li>
    <li><a href="/main/2014/8">aug</a></li>
    <li><a href="/main/2014/9">sep</a></li>
    <li><a href="/main/2014/10">oct</a></li>
    <li><a href="/main/2014/11">nov</a></li>
    <li><a href="/main/2014/12">dec</a></li>
  </ul>

  </br>
  </br>
  </br>
  </br>
  </br>
  </br>


    <div class="container">
      <div class='row'>
        <div class="col-md-4">
          <table class="table table-hover"> 
            <thead>
              <tr>
                <th width="150">Bill</th>
                <th width="150">Amt</th>
                <th width="150">Paid By</th>
              </tr>
            </thead>
            <tbody>
              <% @current_expenses.each do |exp| %>
                <tr>
                  <td><%= exp.type %></td>
                  <td><%= exp.amount %></td>
                  <td><%= exp.get_display_name %></td>
                <% end %>
                </tr>
            </tbody>
          </table>
        </div>
        
        <div class="col-md-6 col-md-offset-2">
          <table class="table table-hover"> 
            <thead>
              <tr>
                <th width="150">Roomie</th>
                <th width="150">Rent</th>
                <th width="150">Split</th>
                <th width="150">Due</th>
              </tr>
            </thead>
            <tbody>
              <% @domicile_users.each do |user| %>
              <tr>
                <td><%= user.display_name %></td>
                <td><%= user.rent %></td>
                <td><%= @reallocated_domicile[user.user_id] %></td>
                <td><%= user.rent.to_i + @reallocated_domicile[user.user_id].to_i %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
    </div>

    <!-- Button trigger modal -->
    <div class="container">
      <div class="row col-lg-12">
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
          Add Expense
        </button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Expense</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="type">Expense Type</label>
              <div class="controls">
                <input id="type" name="type" type="text" placeholder="(Cable, Electricity, etc.)" class="input-xlarge">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="amount">Amount</label>
              <div class="controls">
                <input id="amount" name="amount" type="text" placeholder="$" class="input-xlarge">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="paid_by">Paid By</label>
              <div class="controls">
                <input id="paid_by" name="paid_by" type="text" placeholder="Enter Username" class="input-xlarge">
                
              </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
              <label class="control-label" for="month">Month</label>
              <div class="controls">
                <select id="month" name="month" class="input-xlarge">
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
              <label class="control-label" for="year">Year</label>
              <div class="controls">
                <select id="year" name="year" class="input-xlarge">
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                  <option>2009</option>
                  <option>2008</option>
                </select>
              </div>
            </div>

            </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script>
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    console.log("I'm working")
    </script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="<%= @root %>js/bootstrap.min.js"></script>

  </body>
</html>